// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#logo {
	font-size: 26px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding: 15px 0;
	a {
		color: #2F363E;
	}
}

#main_content {
	#content {
		float: none;
	}
	padding-bottom: 100px;
	background: #f1f1f1;
  	border-radius: 5px;
	.link {
		padding: 2em 1em;
		border-bottom: 1px solid #e9e9e9;
		.title {

			a {
				color: #FF4500;
			}
		}
	}
	.comments_title {
		margin-top: 2em;
	}
	#comments {
		.comment {
			padding: 1em 0;
			border-top: 1px solid #E9E9E9;
			.lead {
				margin-bottom: 0;
			}
		}
	}
}

.navbar-default{
	background-color: #111111;
	border: none;
	border-radius: 0 !important;
}

.menu-li{
	a{
		color: #fff !important;
	}

	a:hover{
		color: #f60 !important;
	}
}

.btn-primary, .btn-default{
	background-color: #163c7b;
	color: #fff;
}

.h1-titles{
	color: #f60;
	font-weight: bold;
	text-decoration: none !important;
}

.title-nav1{
	a{
		color: #fff !important;
	}

	a:hover{
		color: #f60 !important;
		text-decoration: none;
	}
}

.btn-default{
	 border-color: #333;
}

.vote-btn{
	background-color: #FFB517 !important;
	border-color: #333 !important;
	color: #333;

}

.alert-info{
	margin-top: 10px;
}